.image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

.animate-cursor-follow {
    animation: cursorFollow .3s infinite alternate;
    filter: blur(3px);
    -webkit-filter: blur(20px);
    transform: scale(2);
    opacity: .4;
  }

 