.image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }



.animate-cursor-follow {
    animation: cursorFollow .3s infinite alternate;
    filter: blur(10px);
    -webkit-filter: blur(30px);
    transform: scale(4);
    opacity: .2;
  }

 